OCR_API_HOST=127.0.0.1
OCR_API_PORT=8765
OCR_SESSION_TOKEN=
OCR_MODELS_DIR=./models
OCR_MAX_IMAGE_SIDE=2560
OCR_ORIENTATION_MAX_SIDE=640
OCR_MAX_UPLOAD_BYTES=26214400
OCR_REQUEST_TIMEOUT_SEC=180
OCR_USE_GPU=false
OCR_DEVICE=cpu
OCR_DET_MODEL_NAME=PP-OCRv5_mobile_det
OCR_REC_MODEL_NAME=cyrillic_PP-OCRv5_mobile_rec
OCR_RDOCS_MODELS_DIR=./models/rdocs
OCR_RDOCS_OCR=accurate
OCR_RDOCS_DEVICE=cpu
